/* Definindo variáveis no :root */
:root {
    --primary-color: #0D3651; /* Precision Blue */
    --secondary-color: #22577A; /* Light Lead */
    --tertiary-color: #38A3A5; /* Viridian */
    --accent-color: #57CC99; /* Emerald */
    --highlight-color: #80ED99; /* Light Green */
    --background-color: #C7F9CC; /* Tea Green */
    --text-color: #0D3651; /* Precision Blue (para texto) */
    --white-color: #FFFFFF; /* Branco */
}

/* Estilizando títulos */
h1, h2, h3 {
    font-family: 'Merriweather', serif;
    color: var(--primary-color);
    margin-bottom: 0.5em;
}

/* Estilizando parágrafos */
p {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    line-height: 1.6;
}

/* Removendo sublinhados de links de mídia social */
nav.sociallinks a img {
    text-decoration: none;
    display: inline-block;
}

/* Hiperlinks padrão */
a {
    color: var(--secondary-color);
    text-decoration: underline;
}

/* Estilo ao passar o mouse (hover) */
a:hover {
    color: var(--tertiary-color);
    text-decoration: none;
}

/* Corpo do documento */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}
