nav {
    background-color: rgb(184, 174, 236);
    padding: 10px;
  }
  nav a {
    color: white;
    display: block;
    padding: 20px;
  }
  h1 {
    color: rgb(73, 41, 161);
  }
    
  img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px hsl(195, 67%, 88%);
  }
  p {
    padding: 10px;
  }
  
    